.app.light {
  --bg-color: #9f9d9d;
  --inverted-bg-color: #0d0f41;

  --primary-color: #2ed300;
  --secondary-color: #0e14bd;
  --inverted-primary-color: #000243;
  --inverted-secondary-color: #0e14bd;
}
